{% use "form_div_layout.html.twig" %}

{% block async_uploader_row %}
    {{ form_label(form) }}
    {{ form_widget(form) }}
{% endblock %}

{% block async_uploader_widget %}
    {% set locale = app.request.locale %}
    <div class="{% if locale == "nl" %}async_uploader_container--nl {% endif %}async_uploader_container">
        {{ block('hidden_widget') }}
    </div>
{% endblock %}
