<!DOCTYPE html>
<html lang="en">
<head>
  <title>Test form </title>
  <script type="text/javascript" src="/js/script.js"></script>
  <style> .thumb{width:160px;}</style>
</head>
<body>
  <h1>test forms</h1>
  <h2>1st form</h2>
  <div>
{{ form_start(form) }}
{{ form_row(form) }}
{{ form_end(form) }}
</div>
<h2>2nd form</h2>
<div>
{{ form_start(form2) }}
{{ form_row(form2) }}
{{ form_end(form2) }}
</div>
</body>
</html>
